In [1]:
import pandas as pd
import xlrd
import openpyxl

# URL

In [2]:
# passing a url to read_csv method
url = 'https://data.cityofnewyork.us/api/views/25th-nujf/rows.csv'
baby_names = pd.read_csv(url)

baby_names.head()

   Year of Birth  Gender Ethnicity Child's First Name  Count  Rank
0           2011  FEMALE  HISPANIC          GERALDINE     13    75
1           2011  FEMALE  HISPANIC                GIA     21    67
2           2011  FEMALE  HISPANIC             GIANNA     49    42
3           2011  FEMALE  HISPANIC            GISELLE     38    51
4           2011  FEMALE  HISPANIC              GRACE     36    53

# Object Conversions

In [5]:
# convert series to data frame
baby_names["Child's First Name"].to_frame().head()

  Child's First Name
0          GERALDINE
1                GIA
2             GIANNA
3            GISELLE
4              GRACE

In [8]:
# convert series to list
baby_names["Child's First Name"].tolist()

['GERALDINE',
 'GIA',
 'GIANNA',
 'GISELLE',
 'GRACE',
 'GUADALUPE',
 'HAILEY',
 'HALEY',
 'HANNAH',
 'HAYLEE',
 'HAYLEY',
 'HAZEL',
 'HEAVEN',
 'HEIDI',
 'HEIDY',
 'HELEN',
 'IMANI',
 'INGRID',
 'IRENE',
 'IRIS',
 'ISABEL',
 'ISABELA',
 'ISABELLA',
 'ISABELLE',
 'ISIS',
 'ITZEL',
 'IZABELLA',
 'JACQUELINE',
 'JADA',
 'JADE',
 'JAELYNN',
 'JAMIE',
 'JANELLE',
 'JASLENE',
 'JASMIN',
 'JASMINE',
 'JAYDA',
 'JAYLA',
 'JAYLAH',
 'JAYLEEN',
 'JAYLENE',
 'JAYLIN',
 'JAYLYN',
 'JAZLYN',
 'JAZMIN',
 'JAZMINE',
 'JENNIFER',
 'JESSICA',
 'JIMENA',
 'JOCELYN',
 'JOHANNA',
 'JOSELYN',
 'JULIA',
 'JULIANA',
 'JULIANNA',
 'JULIET',
 'JULIETTE',
 'JULISSA',
 'KAELYN',
 'KAILEY',
 'KAILYN',
 'KAITLYN',
 'KAMILA',
 'KAREN',
 'KARLA',
 'KATE',
 'KATELYN',
 'KATELYNN',
 'KATHERINE',
 'KATIE',
 'KAYLA',
 'KAYLEE',
 'KAYLEEN',
 'KAYLEIGH',
 'KAYLIE',
 'KAYLIN',
 'KEILY',
 'KELLY',
 'KEYLA',
 'KHLOE',
 'KIARA',
 'KIMBERLY',
 'KRYSTAL',
 'KYLEE',
 'KYLIE',
 'LAILA',
 'LAURA',
 'LAUREN',
 'LAYLA',
 'LEA',
 'LEAH',
 'LEILA',
 'LEILANI',
 'LESLEY',
 'LESLIE',
 'LESLY',
 'LEYLA',
 'LIA',
 'LIANA',
 'LILIANA',
 'LILY',
 'LINDSAY',
 'LIZBETH',
 'LONDON',
 'LUCIA',
 'LUNA',
 'LUZ',
 'MADELINE',
 'MADELYN',
 'MADISON',
 'MAKAYLA',
 'MARIA',
 'MARIAH',
 'MARIANA',
 'MARILYN',
 'MARISOL',
 'MAYA',
 'MEGAN',
 'MELANIE',
 'MELANY',
 'MELISSA',
 'MELODY',
 'MIA',
 'MIAH',
 'MICHELLE',
 'MIKAELA',
 'MIKAYLA',
 'MILA',
 'MILEY',
 'MIRANDA',
 'MIRIAM',
 'MYA',
 'NADIA',
 'NANCY',
 'NAOMI',
 'NATALIA',
 'NATALIE',
 'NATALY',
 'NATASHA',
 'NATHALIA',
 'NATHALIE',
 'NATHALY',
 'NAYELI',
 'NEVAEH',
 'NICOLE',
 'NINA',
 'NOEMI',
 'NYLA',
 'OLIVIA',
 'PAOLA',
 'PENELOPE',
 'PERLA',
 'RACHEL',
 'RAQUEL',
 'REBECCA',
 'RIHANNA',
 'RILEY',
 'ROSA',
 'ROSE',
 'ROSELYN',
 'RUBY',
 'SABRINA',
 'SADIE',
 'SAMANTHA',
 'SAMARA',
 'SARA',
 'SARAH',
 'SARAI',
 'SARIAH',
 'SASHA',
 'SAVANNA',
 'SAVANNAH',
 'SCARLET',
 'SCARLETT',
 'SELENA',
 'SERENITY',
 'SHERLYN',
 'SHIRLEY',
 'SIENNA',
 'SKYLA',
 'SKYLAR',
 'SOFIA',
 'SOPHIA',
 'SOPHIE',
 'STACY',
 'STELLA',
 'STEPHANIE',
 'STEPHANY',
 'TATIANA',
 'TAYLOR',
 'TIANA',
 'TIFFANY',
 'VALENTINA',
 'VALERIA',
 'VALERIE',
 'VANESSA',
 'VERONICA',
 'VICTORIA',
 'VIOLET',
 'VIVIANA',
 'WENDY',
 'XIMENA',
 'YAMILET',
 'YARETZI',
 'ZOE',
 'ZOEY',
 'ABIGAIL',
 'ADDISON',
 'ADELE',
 'ADELINE',
 'ADINA',
 'ADRIANA',
 'ADRIANNA',
 'AHUVA',
 'ALESSANDRA',
 'ALESSIA',
 'ALEXA',
 'ALEXANDRA',
 'ALEXIS',
 'ALICE',
 'ALICIA',
 'ALINA',
 'ALISA',
 'ALIZA',
 'ALLISON',
 'ALYSSA',
 'AMANDA',
 'AMELIA',
 'AMELIE',
 'AMINA',
 'AMIRA',
 'AMY',
 'ANASTASIA',
 'ANGELICA',
 'ANGELINA',
 'ANNA',
 'ANNABEL',
 'ANNABELLE',
 'ARIANA',
 'ARIANNA',
 'ARIEL',
 'ARIELA',
 'ARIELLA',
 'ASHLEY',
 'ATARA',
 'AUBREY',
 'AUDREY',
 'AUTUMN',
 'AVA',
 'AVERY',
 'AVIGAIL',
 'AVIVA',
 'AYLA',
 'BAILA',
 'BARBARA',
 'BATSHEVA',
 'BATYA',
 'BEATRICE',
 'BELLA',
 'BIANCA',
 'BLAKE',
 'BLIMA',
 'BLIMY',
 'BRACHA',
 'BREINDY',
 'BRIANNA',
 'BRIDGET',
 'BROOKE',
 'BROOKLYN',
 'BRUCHA',
 'BRUCHY',
 'BRYNN',
 'CAITLIN',
 'CAMERON',
 'CAROLINE',
 'CASEY',
 'CATHERINE',
 'CECILIA',
 'CELIA',
 'CHANA',
 'CHANY',
 'CHARLIE',
 'CHARLOTTE',
 'CHAVA',
 'CHAVY',
 'CHAYA',
 'CHLOE',
 'CHRISTINA',
 'CLAIRE',
 'CLARA',
 'COLETTE',
 'CORA',
 'DAHLIA',
 'DAISY',
 'DALIA',
 'DANIELA',
 'DANIELLA',
 'DANIELLE',
 'DEVORA',
 'DEVORAH',
 'DIANA',
 'DINA',
 'DYLAN',
 'EDEN',
 'ELEANOR',
 'ELENA',
 'ELIANA',
 'ELISE',
 'ELISHEVA',
 'ELIZA',
 'ELIZABETH',
 'ELLA',
 'ELLE',
 'ELLIANA',
 'ELLIE',
 'ELOISE',
 'EMERSON',
 'EMILIA',
 'EMILY',
 'EMMA',
 'ERIN',
 'ESTER',
 'ESTHER',
 'ESTY',
 'ETTY',
 'EVA',
 'EVE',
 'EVELYN',
 'FAIGA',
 'FAIGY',
 'FINLEY',
 'FIONA',
 'FRADEL',
 'FRAIDY',
 'FRANCESCA',
 'FRIMET',
 'GABRIELA',
 'GABRIELLA',
 'GABRIELLE',
 'GEMMA',
 'GENEVIEVE',
 'GEORGIA',
 'GIA',
 'GIANNA',
 'GIOVANNA',
 'GITTEL',
 'GITTY',
 'GIULIANA',
 'GOLDA',
 'GOLDY',
 'GRACE',
 'GRETA',
 'HADASSA',
 'HADASSAH',
 'HAILEY',
 'HANNA',
 'HANNAH',
 'HARPER',
 'HAZEL',
 'HENNY',
 'HINDY',
 'IDY',
 'ILANA',
 'ISABEL',
 'ISABELLA',
 'ISABELLE',
 'ISLA',
 'IVY',
 'IZABELLA',
 'JACQUELINE',
 'JANE',
 'JASMINE',
 'JENNA',
 'JESSICA',
 'JORDYN',
 'JOSEPHINE',
 'JOYCE',
 'JULIA',
 'JULIANA',
 'JULIANNA',
 'JULIE',
 'JULIET',
 'JULIETTE',
 'KAITLYN',
 'ARELY',
 'KATE',
 'KATHERINE',
 'KATHRYN',
 'KAYLA',
 'KAYLEE',
 'KIRA',
 'KYLIE',
 'LAILA',
 'LARA',
 'LAURA',
 'LAUREN',
 'LAYLA',
 'LEA',
 'LEAH',
 'LEILA',
 'LENA',
 'LEORA',
 'LIA',
 'LIANA',
 'LIBA',
 'LIBBY',
 'LILA',
 'LILAH',
 'LILIANA',
 'LILLIAN',
 'LILLY',
 'LILY',
 'LINA',
 'LOLA',
 'LONDON',
 'LUCY',
 'LYLA',
 'MACKENZIE',
 'MADELEINE',
 'MADELINE',
 'MADELYN',
 'MADISON',
 'MAEVE',
 'MAKAYLA',
 'MALAK',
 'MALKA',
 'MALKY',
 'MARGARET',
 'MARIA',
 'MARIAM',
 'MARY',
 'MATILDA',
 'MAYA',
 'MELANIE',
 'MIA',
 'MICHAELA',
 'MICHAL',
 'MICHELLE',
 'MIKAYLA',
 'MILA',
 'MILENA',
 'MINDY',
 'MIRI',
 'MIRIAM',
 'MOLLY',
 'MORGAN',
 'NAOMI',
 'NATALIA',
 'NATALIE',
 'NECHAMA',
 'NICOLE',
 'NICOLETTE',
 'NINA',
 'NOA',
 'NORA',
 'OLIVIA',
 'PAIGE',
 'PARKER',
 'PEARL',
 'PENELOPE',
 'PEREL',
 'PESSY',
 'PHOEBE',
 'PIPER',
 'QUINN',
 'RACHEL',
 'RAIZEL',
 'RAIZY',
 'REBECCA',
 'REESE',
 'RIFKA',
 'RIFKY',
 'RILEY',
 'RIVKA',
 'RIVKY',
 'ROCHEL',
 'ROIZY',
 'ROSE',
 'RUBY',
 'RUCHY',
 'RUTH',
 'RYAN',
 'SABRINA',
 'SADIE',
 'SALMA',
 'SAMANTHA',
 'SARA',
 'SARAH',
 'SASHA',
 'SAVANNAH',
 'SCARLETT',
 'SERENA',
 'SHAINA',
 'SHAINDEL',
 'SHAINDY',
 'SHEVY',
 'SHIFRA',
 'SHIRA',
 'SHOSHANA',
 'SIENA',
 'SIENNA',
 'SIMA',
 'SIMI',
 'SIMONE',
 'SKYLAR',
 'SLOANE',
 'SOFIA',
 'SOPHIA',
 'SOPHIE',
 'STELLA',
 'SUMMER',
 'SURI',
 'SURY',
 'SYDNEY',
 'SYLVIA',
 'TALIA',
 'TAMAR',
 'TAYLOR',
 'TESSA',
 'TOBY',
 'TZIPORA',
 'TZIPORAH',
 'TZIPPY',
 'TZIVIA',
 'VALENTINA',
 'VALERIE',
 'VANESSA',
 'VERA',
 'VERONICA',
 'VERONIKA',
 'VICTORIA',
 'VIOLET',
 'VIVIAN',
 'VIVIENNE',
 'WILLA',
 'YACHET',
 'YAEL',
 'YASMINE',
 'YEHUDIS',
 'YIDES',
 'YITTY',
 'YOCHEVED',
 'ZISSY',
 'SCARLETT',
 'ZOEY',
 'AARAV',
 'AARON',
 'ABDUL',
 'ABDULLAH',
 'ADAM',
 'ADITYA',
 'ADRIAN',
 'AHMED',
 'AIDAN',
 'AIDEN',
 'ALAN',
 'ALEX',
 'ALEXANDER',
 'ALI',
 'ALLEN',
 'ALVIN',
 'ANDREW',
 'ANDY',
 'ANSON',
 'ANTHONY',
 'ARJUN',
 'ARMAAN',
 'ARYAN',
 'AUSTIN',
 'AYAAN',
 'AYDEN',
 'BENJAMIN',
 'BENSON',
 'BRANDON',
 'BRIAN',
 'BRYAN',
 'CALEB',
 'CALVIN',
 'CARSON',
 'CHARLES',
 'CHRISTIAN',
 'CHRISTOPHER',
 'CODY',
 'CONNOR',
 'DANIEL',
 'DANNY',
 'DARREN',
 'DAVID',
 'DEREK',
 'DEVIN',
 'DYLAN',
 'EASON',
 'EDISON',
 'EDWIN',
 'ELIJAH',
 'ELVIS',
 'ERIC',
 'ETHAN',
 'EVAN',
 'FARHAN',
 'FELIX',
 'GABRIEL',
 'GAVIN',
 'GEORGE',
 'HARRISON',
 'HAYDEN',
 'HENRY',
 'IAN',
 'IBRAHIM',
 'ISAAC',
 'ISHAAN',
 'IVAN',
 'JACK',
 'JACKSON',
 'JACKY',
 'JACOB',
 'JADEN',
 'JAKE',
 'JAMES',
 'JASON',
 'JAY',
 'JAYDEN',
 'JEFFREY',
 'JEREMY',
 'JERRY',
 'JIA',
 'JOHN',
 'JOHNNY',
 'JONATHAN',
 'JORDAN',
 'JOSEPH',
 'JOSHUA',
 'JULIAN',
 'JUSTIN',
 'KAI',
 'KEVIN',
 'KINGSLEY',
 'KYLE',
 'LAWRENCE',
 'LEO',
 'LEON',
 'LIAM',
 'LOGAN',
 'LOUIS',
 'LUCAS',
 'LUKE',
 'MARCUS',
 'MARTIN',
 'MASON',
 'MATTHEW',
 'MAX',
 'MICHAEL',
 'MILES',
 'MOHAMED',
 'MOHAMMAD',
 'MOHAMMED',
 'MUHAMMAD',
 'NATHAN',
 'NATHANIEL',
 'NELSON',
 'NICHOLAS',
 'NOAH',
 'OLIVER',
 'OSCAR',
 'OWEN',
 'PATRICK',
 'PETER',
 'RAYAN',
 'RAYMOND',
 'RICHARD',
 'RICKY',
 'ROHAN',
 'RYAN',
 'SAMUEL',
 'SEAN',
 'SEBASTIAN',
 'SHAWN',
 'SIMON',
 'STANLEY',
 'STEVEN',
 'SYED',
 'TENZIN',
 'TERRY',
 'THOMAS',
 'TIMOTHY',
 'TONY',
 'TRAVIS',
 'TYLER',
 'VICTOR',
 'VINCENT',
 'WILLIAM',
 'WILSON',
 'XAVIER',
 'ZACHARY',
 'ZAIN',
 'ZAYAN',
 'AARON',
 'ABDOUL',
 'ABDOULAYE',
 'ADAM',
 'ADEN',
 'ADONIS',
 'ADRIAN',
 'AHMED',
 'AIDAN',
 'AIDEN',
 'ALEXANDER',
 'ALI',
 'ALIJAH',
 'ALVIN',
 'AMADOU',
 "AMAR'E",
 'AMARE',
 'AMARI',
 'AMIR',
 'ANDRE',
 'ANDREW',
 'ANGEL',
 'ANTHONY',
 'ANTONIO',
 'ASHTON',
 'AUSTIN',
 'AVERY',
 'AYDEN',
 'BENJAMIN',
 'BLAKE',
 'BRANDON',
 'BRIAN',
 'BRYAN',
 'BRYCE',
 'BRYSON',
 'CALEB',
 'CAMERON',
 'CARMELO',
 'CARTER',
 'CAYDEN',
 'CHAD',
 'CHANCE',
 'CHARLES',
 'CHASE',
 'CHRIS',
 'CHRISTIAN',
 'CHRISTOPHER',
 'CODY',
 'COREY',
 'DANIEL',
 'DARIUS',
 'DARREN',
 'DAVID',
 'DERRICK',
 'DEVIN',
 'DEVON',
 'DOMINIC',
 'DONOVAN',
 'DWAYNE',
 'DYLAN',
 'EDWARD',
 'ELI',
 'ELIAS',
 'ELIJAH',
 'EMMANUEL',
 'ERIC',
 'ETHAN',
 'EVAN',
 'GABRIEL',
 'GAVIN',
 'GEORGE',
 'GIOVANNI',
 'HASSAN',
 'HAYDEN',
 'HUNTER',
 'IAN',
 'SERENA',
 'IBRAHIMA',
 'ISAAC',
 'ISAIAH',
 'ISHMAEL',
 'ISIAH',
 'JACE',
 'JACKSON',
 'JACOB',
 'JADEN',
 'JAHEIM',
 'JAHMIR',
 'JAIDEN',
 'JALEN',
 'JAMAL',
 'JAMEL',
 'JAMES',
 'JAMIR',
 'JARED',
 'JASIAH',
 'JASON',
 'JAYDEN',
 'JAYLEN',
 'JAYSON',
 'JELANI',
 'JEREMIAH',
 'JEREMY',
 'JERMAINE',
 'JESSE',
 'JOEL',
 'JOHN',
 'JONATHAN',
 'JORDAN',
 'JOSEPH',
 'JOSHUA',
 'JOSIAH',
 'SHAINA',
 'JUSTICE',
 'JUSTIN',
 'KADEN',
 'KAI',
 'KAIDEN',
 'KALEB',
 'KAMARI',
 'KAMERON',
 'KAYDEN',
 'KEITH',
 'KENNETH',
 'KEVIN',
 'KHALIL',
 'KING',
 'KIYAN',
 'KYLE',
 'KYMANI',
 'LAMAR',
 'LANDON',
 'LEVI',
 'LIAM',
 'LOGAN',
 'LUCAS',
 'MAKAI',
 'MALACHI',
 'MALCOLM',
 'MALIK',
 'MAMADOU',
 'MARC',
 'MARCUS',
 'MARQUIS',
 'MASON',
 'MATTHEW',
 'MAURICE',
 'MEKHI',
 'MESSIAH',
 'MICAH',
 'MICHAEL',
 'MILES',
 'MOHAMED',
 'MOHAMMED',
 'MOUSSA',
 'MYLES',
 'NANA',
 'NASIR',
 'NATHAN',
 'NATHANIEL',
 'NEHEMIAH',
 'NICHOLAS',
 'NICOLAS',
 'NIGEL',
 'NOAH',
 'OMAR',
 'OMARI',
 'OUSMANE',
 'PATRICK',
 'PRESTON',
 'PRINCE',
 'QUINCY',
 'RICARDO',
 'RICHARD',
 'ROBERT',
 'RODNEY',
 'RYAN',
 'SAMUEL',
 'SEAN',
 'SEBASTIAN',
 'SEKOU',
 'SETH',
 'SHAINDEL',
 'SINCERE',
 'STEPHEN',
 'STEVEN',
 'TERRELL',
 'TERRENCE',
 'TIMOTHY',
 'TRAVIS',
 'TRISTAN',
 'TROY',
 'TYLER',
 'VICTOR',
 'WILLIAM',
 'XAVIER',
 'ZACHARY',
 'ZAIRE',
 'ZION',
 'ZYAIRE',
 'AARON',
 'ABDIEL',
 'ABEL',
 'ABRAHAM',
 'ADAM',
 'ADEN',
 'ADONIS',
 'ADRIAN',
 'ADRIEL',
 'AIDAN',
 'AIDEN',
 'ALAN',
 'ALBERT',
 'ALBERTO',
 'ALDO',
 'ALEJANDRO',
 'ALEX',
 'ALEXANDER',
 'ALEXIS',
 'ALFREDO',
 'ALLAN',
 'ALLEN',
 'ALVIN',
 'AMIR',
 'ANDERSON',
 'ANDRE',
 'ANDRES',
 'ANDREW',
 'ANDY',
 'ANGEL',
 'ANGELO',
 'ANTHONY',
 'ANTONIO',
 'ARIEL',
 'ARMANDO',
 'ARMANI',
 'ARTURO',
 'ASHTON',
 'AUSTIN',
 'AVERY',
 'AXEL',
 'AYDEN',
 'BENJAMIN',
 'BRADLEY',
 'BRANDON',
 'BRAYAN',
 'BRAYDEN',
 'BRYAN',
 'BRYANT',
 'BRYCE',
 'BYRON',
 'CALEB',
 'CAMERON',
 'CARLOS',
 'CARMELO',
 'CESAR',
 'ABIGAIL',
 'ADA',
 'AISHA',
 'AIZA',
 'ALEENA',
 'ALEXA',
 'ALEXANDRA',
 'ALICE',
 'ALINA',
 'ALISHA',
 'ALIYAH',
 'ALLISON',
 'ALYSSA',
 'AMANDA',
 'AMBER',
 'AMELIA',
 'AMY',
 'ANGEL',
 'ANGELA',
 'ANGELINA',
 'ANGIE',
 'ANIKA',
 'ANNA',
 'ANNABELLE',
 'ANNIE',
 'ARIA',
 'ARIANA',
 'ARIANNA',
 'ARYA',
 'ASHLEY',
 'AUDREY',
 'AVA',
 'AYESHA',
 'BELLA',
 'BONNIE',
 'BRIANNA',
 'CATHERINE',
 'CECILIA',
 'CHARLOTTE',
 'CHLOE',
 'CHRISTINA',
 'CHRISTINE',
 'CHRISTY',
 'CINDY',
 'CLAIRE',
 'CYNTHIA',
 'DAISY',
 'DIYA',
 ...]

In [9]:
# convert series to dictionary
# dictionaries do not allow duplicate keys, so make sure index is unique
baby_names["Child's First Name"].to_dict()

{0: 'GERALDINE',
 1: 'GIA',
 2: 'GIANNA',
 3: 'GISELLE',
 4: 'GRACE',
 5: 'GUADALUPE',
 6: 'HAILEY',
 7: 'HALEY',
 8: 'HANNAH',
 9: 'HAYLEE',
 10: 'HAYLEY',
 11: 'HAZEL',
 12: 'HEAVEN',
 13: 'HEIDI',
 14: 'HEIDY',
 15: 'HELEN',
 16: 'IMANI',
 17: 'INGRID',
 18: 'IRENE',
 19: 'IRIS',
 20: 'ISABEL',
 21: 'ISABELA',
 22: 'ISABELLA',
 23: 'ISABELLE',
 24: 'ISIS',
 25: 'ITZEL',
 26: 'IZABELLA',
 27: 'JACQUELINE',
 28: 'JADA',
 29: 'JADE',
 30: 'JAELYNN',
 31: 'JAMIE',
 32: 'JANELLE',
 33: 'JASLENE',
 34: 'JASMIN',
 35: 'JASMINE',
 36: 'JAYDA',
 37: 'JAYLA',
 38: 'JAYLAH',
 39: 'JAYLEEN',
 40: 'JAYLENE',
 41: 'JAYLIN',
 42: 'JAYLYN',
 43: 'JAZLYN',
 44: 'JAZMIN',
 45: 'JAZMINE',
 46: 'JENNIFER',
 47: 'JESSICA',
 48: 'JIMENA',
 49: 'JOCELYN',
 50: 'JOHANNA',
 51: 'JOSELYN',
 52: 'JULIA',
 53: 'JULIANA',
 54: 'JULIANNA',
 55: 'JULIET',
 56: 'JULIETTE',
 57: 'JULISSA',
 58: 'KAELYN',
 59: 'KAILEY',
 60: 'KAILYN',
 61: 'KAITLYN',
 62: 'KAMILA',
 63: 'KAREN',
 64: 'KARLA',
 65: 'KATE',
 66: 'KATELYN',
 67: 'KATELYNN',
 68: 'KATHERINE',
 69: 'KATIE',
 70: 'KAYLA',
 71: 'KAYLEE',
 72: 'KAYLEEN',
 73: 'KAYLEIGH',
 74: 'KAYLIE',
 75: 'KAYLIN',
 76: 'KEILY',
 77: 'KELLY',
 78: 'KEYLA',
 79: 'KHLOE',
 80: 'KIARA',
 81: 'KIMBERLY',
 82: 'KRYSTAL',
 83: 'KYLEE',
 84: 'KYLIE',
 85: 'LAILA',
 86: 'LAURA',
 87: 'LAUREN',
 88: 'LAYLA',
 89: 'LEA',
 90: 'LEAH',
 91: 'LEILA',
 92: 'LEILANI',
 93: 'LESLEY',
 94: 'LESLIE',
 95: 'LESLY',
 96: 'LEYLA',
 97: 'LIA',
 98: 'LIANA',
 99: 'LILIANA',
 100: 'LILY',
 101: 'LINDSAY',
 102: 'LIZBETH',
 103: 'LONDON',
 104: 'LUCIA',
 105: 'LUNA',
 106: 'LUZ',
 107: 'MADELINE',
 108: 'MADELYN',
 109: 'MADISON',
 110: 'MAKAYLA',
 111: 'MARIA',
 112: 'MARIAH',
 113: 'MARIANA',
 114: 'MARILYN',
 115: 'MARISOL',
 116: 'MAYA',
 117: 'MEGAN',
 118: 'MELANIE',
 119: 'MELANY',
 120: 'MELISSA',
 121: 'MELODY',
 122: 'MIA',
 123: 'MIAH',
 124: 'MICHELLE',
 125: 'MIKAELA',
 126: 'MIKAYLA',
 127: 'MILA',
 128: 'MILEY',
 129: 'MIRANDA',
 130: 'MIRIAM',
 131: 'MYA',
 132: 'NADIA',
 133: 'NANCY',
 134: 'NAOMI',
 135: 'NATALIA',
 136: 'NATALIE',
 137: 'NATALY',
 138: 'NATASHA',
 139: 'NATHALIA',
 140: 'NATHALIE',
 141: 'NATHALY',
 142: 'NAYELI',
 143: 'NEVAEH',
 144: 'NICOLE',
 145: 'NINA',
 146: 'NOEMI',
 147: 'NYLA',
 148: 'OLIVIA',
 149: 'PAOLA',
 150: 'PENELOPE',
 151: 'PERLA',
 152: 'RACHEL',
 153: 'RAQUEL',
 154: 'REBECCA',
 155: 'RIHANNA',
 156: 'RILEY',
 157: 'ROSA',
 158: 'ROSE',
 159: 'ROSELYN',
 160: 'RUBY',
 161: 'SABRINA',
 162: 'SADIE',
 163: 'SAMANTHA',
 164: 'SAMARA',
 165: 'SARA',
 166: 'SARAH',
 167: 'SARAI',
 168: 'SARIAH',
 169: 'SASHA',
 170: 'SAVANNA',
 171: 'SAVANNAH',
 172: 'SCARLET',
 173: 'SCARLETT',
 174: 'SELENA',
 175: 'SERENITY',
 176: 'SHERLYN',
 177: 'SHIRLEY',
 178: 'SIENNA',
 179: 'SKYLA',
 180: 'SKYLAR',
 181: 'SOFIA',
 182: 'SOPHIA',
 183: 'SOPHIE',
 184: 'STACY',
 185: 'STELLA',
 186: 'STEPHANIE',
 187: 'STEPHANY',
 188: 'TATIANA',
 189: 'TAYLOR',
 190: 'TIANA',
 191: 'TIFFANY',
 192: 'VALENTINA',
 193: 'VALERIA',
 194: 'VALERIE',
 195: 'VANESSA',
 196: 'VERONICA',
 197: 'VICTORIA',
 198: 'VIOLET',
 199: 'VIVIANA',
 200: 'WENDY',
 201: 'XIMENA',
 202: 'YAMILET',
 203: 'YARETZI',
 204: 'ZOE',
 205: 'ZOEY',
 206: 'ABIGAIL',
 207: 'ADDISON',
 208: 'ADELE',
 209: 'ADELINE',
 210: 'ADINA',
 211: 'ADRIANA',
 212: 'ADRIANNA',
 213: 'AHUVA',
 214: 'ALESSANDRA',
 215: 'ALESSIA',
 216: 'ALEXA',
 217: 'ALEXANDRA',
 218: 'ALEXIS',
 219: 'ALICE',
 220: 'ALICIA',
 221: 'ALINA',
 222: 'ALISA',
 223: 'ALIZA',
 224: 'ALLISON',
 225: 'ALYSSA',
 226: 'AMANDA',
 227: 'AMELIA',
 228: 'AMELIE',
 229: 'AMINA',
 230: 'AMIRA',
 231: 'AMY',
 232: 'ANASTASIA',
 233: 'ANGELICA',
 234: 'ANGELINA',
 235: 'ANNA',
 236: 'ANNABEL',
 237: 'ANNABELLE',
 238: 'ARIANA',
 239: 'ARIANNA',
 240: 'ARIEL',
 241: 'ARIELA',
 242: 'ARIELLA',
 243: 'ASHLEY',
 244: 'ATARA',
 245: 'AUBREY',
 246: 'AUDREY',
 247: 'AUTUMN',
 248: 'AVA',
 249: 'AVERY',
 250: 'AVIGAIL',
 251: 'AVIVA',
 252: 'AYLA',
 253: 'BAILA',
 254: 'BARBARA',
 255: 'BATSHEVA',
 256: 'BATYA',
 257: 'BEATRICE',
 258: 'BELLA',
 259: 'BIANCA',
 260: 'BLAKE',
 261: 'BLIMA',
 262: 'BLIMY',
 263: 'BRACHA',
 264: 'BREINDY',
 265: 'BRIANNA',
 266: 'BRIDGET',
 267: 'BROOKE',
 268: 'BROOKLYN',
 269: 'BRUCHA',
 270: 'BRUCHY',
 271: 'BRYNN',
 272: 'CAITLIN',
 273: 'CAMERON',
 274: 'CAROLINE',
 275: 'CASEY',
 276: 'CATHERINE',
 277: 'CECILIA',
 278: 'CELIA',
 279: 'CHANA',
 280: 'CHANY',
 281: 'CHARLIE',
 282: 'CHARLOTTE',
 283: 'CHAVA',
 284: 'CHAVY',
 285: 'CHAYA',
 286: 'CHLOE',
 287: 'CHRISTINA',
 288: 'CLAIRE',
 289: 'CLARA',
 290: 'COLETTE',
 291: 'CORA',
 292: 'DAHLIA',
 293: 'DAISY',
 294: 'DALIA',
 295: 'DANIELA',
 296: 'DANIELLA',
 297: 'DANIELLE',
 298: 'DEVORA',
 299: 'DEVORAH',
 300: 'DIANA',
 301: 'DINA',
 302: 'DYLAN',
 303: 'EDEN',
 304: 'ELEANOR',
 305: 'ELENA',
 306: 'ELIANA',
 307: 'ELISE',
 308: 'ELISHEVA',
 309: 'ELIZA',
 310: 'ELIZABETH',
 311: 'ELLA',
 312: 'ELLE',
 313: 'ELLIANA',
 314: 'ELLIE',
 315: 'ELOISE',
 316: 'EMERSON',
 317: 'EMILIA',
 318: 'EMILY',
 319: 'EMMA',
 320: 'ERIN',
 321: 'ESTER',
 322: 'ESTHER',
 323: 'ESTY',
 324: 'ETTY',
 325: 'EVA',
 326: 'EVE',
 327: 'EVELYN',
 328: 'FAIGA',
 329: 'FAIGY',
 330: 'FINLEY',
 331: 'FIONA',
 332: 'FRADEL',
 333: 'FRAIDY',
 334: 'FRANCESCA',
 335: 'FRIMET',
 336: 'GABRIELA',
 337: 'GABRIELLA',
 338: 'GABRIELLE',
 339: 'GEMMA',
 340: 'GENEVIEVE',
 341: 'GEORGIA',
 342: 'GIA',
 343: 'GIANNA',
 344: 'GIOVANNA',
 345: 'GITTEL',
 346: 'GITTY',
 347: 'GIULIANA',
 348: 'GOLDA',
 349: 'GOLDY',
 350: 'GRACE',
 351: 'GRETA',
 352: 'HADASSA',
 353: 'HADASSAH',
 354: 'HAILEY',
 355: 'HANNA',
 356: 'HANNAH',
 357: 'HARPER',
 358: 'HAZEL',
 359: 'HENNY',
 360: 'HINDY',
 361: 'IDY',
 362: 'ILANA',
 363: 'ISABEL',
 364: 'ISABELLA',
 365: 'ISABELLE',
 366: 'ISLA',
 367: 'IVY',
 368: 'IZABELLA',
 369: 'JACQUELINE',
 370: 'JANE',
 371: 'JASMINE',
 372: 'JENNA',
 373: 'JESSICA',
 374: 'JORDYN',
 375: 'JOSEPHINE',
 376: 'JOYCE',
 377: 'JULIA',
 378: 'JULIANA',
 379: 'JULIANNA',
 380: 'JULIE',
 381: 'JULIET',
 382: 'JULIETTE',
 383: 'KAITLYN',
 384: 'ARELY',
 385: 'KATE',
 386: 'KATHERINE',
 387: 'KATHRYN',
 388: 'KAYLA',
 389: 'KAYLEE',
 390: 'KIRA',
 391: 'KYLIE',
 392: 'LAILA',
 393: 'LARA',
 394: 'LAURA',
 395: 'LAUREN',
 396: 'LAYLA',
 397: 'LEA',
 398: 'LEAH',
 399: 'LEILA',
 400: 'LENA',
 401: 'LEORA',
 402: 'LIA',
 403: 'LIANA',
 404: 'LIBA',
 405: 'LIBBY',
 406: 'LILA',
 407: 'LILAH',
 408: 'LILIANA',
 409: 'LILLIAN',
 410: 'LILLY',
 411: 'LILY',
 412: 'LINA',
 413: 'LOLA',
 414: 'LONDON',
 415: 'LUCY',
 416: 'LYLA',
 417: 'MACKENZIE',
 418: 'MADELEINE',
 419: 'MADELINE',
 420: 'MADELYN',
 421: 'MADISON',
 422: 'MAEVE',
 423: 'MAKAYLA',
 424: 'MALAK',
 425: 'MALKA',
 426: 'MALKY',
 427: 'MARGARET',
 428: 'MARIA',
 429: 'MARIAM',
 430: 'MARY',
 431: 'MATILDA',
 432: 'MAYA',
 433: 'MELANIE',
 434: 'MIA',
 435: 'MICHAELA',
 436: 'MICHAL',
 437: 'MICHELLE',
 438: 'MIKAYLA',
 439: 'MILA',
 440: 'MILENA',
 441: 'MINDY',
 442: 'MIRI',
 443: 'MIRIAM',
 444: 'MOLLY',
 445: 'MORGAN',
 446: 'NAOMI',
 447: 'NATALIA',
 448: 'NATALIE',
 449: 'NECHAMA',
 450: 'NICOLE',
 451: 'NICOLETTE',
 452: 'NINA',
 453: 'NOA',
 454: 'NORA',
 455: 'OLIVIA',
 456: 'PAIGE',
 457: 'PARKER',
 458: 'PEARL',
 459: 'PENELOPE',
 460: 'PEREL',
 461: 'PESSY',
 462: 'PHOEBE',
 463: 'PIPER',
 464: 'QUINN',
 465: 'RACHEL',
 466: 'RAIZEL',
 467: 'RAIZY',
 468: 'REBECCA',
 469: 'REESE',
 470: 'RIFKA',
 471: 'RIFKY',
 472: 'RILEY',
 473: 'RIVKA',
 474: 'RIVKY',
 475: 'ROCHEL',
 476: 'ROIZY',
 477: 'ROSE',
 478: 'RUBY',
 479: 'RUCHY',
 480: 'RUTH',
 481: 'RYAN',
 482: 'SABRINA',
 483: 'SADIE',
 484: 'SALMA',
 485: 'SAMANTHA',
 486: 'SARA',
 487: 'SARAH',
 488: 'SASHA',
 489: 'SAVANNAH',
 490: 'SCARLETT',
 491: 'SERENA',
 492: 'SHAINA',
 493: 'SHAINDEL',
 494: 'SHAINDY',
 495: 'SHEVY',
 496: 'SHIFRA',
 497: 'SHIRA',
 498: 'SHOSHANA',
 499: 'SIENA',
 500: 'SIENNA',
 501: 'SIMA',
 502: 'SIMI',
 503: 'SIMONE',
 504: 'SKYLAR',
 505: 'SLOANE',
 506: 'SOFIA',
 507: 'SOPHIA',
 508: 'SOPHIE',
 509: 'STELLA',
 510: 'SUMMER',
 511: 'SURI',
 512: 'SURY',
 513: 'SYDNEY',
 514: 'SYLVIA',
 515: 'TALIA',
 516: 'TAMAR',
 517: 'TAYLOR',
 518: 'TESSA',
 519: 'TOBY',
 520: 'TZIPORA',
 521: 'TZIPORAH',
 522: 'TZIPPY',
 523: 'TZIVIA',
 524: 'VALENTINA',
 525: 'VALERIE',
 526: 'VANESSA',
 527: 'VERA',
 528: 'VERONICA',
 529: 'VERONIKA',
 530: 'VICTORIA',
 531: 'VIOLET',
 532: 'VIVIAN',
 533: 'VIVIENNE',
 534: 'WILLA',
 535: 'YACHET',
 536: 'YAEL',
 537: 'YASMINE',
 538: 'YEHUDIS',
 539: 'YIDES',
 540: 'YITTY',
 541: 'YOCHEVED',
 542: 'ZISSY',
 543: 'SCARLETT',
 544: 'ZOEY',
 545: 'AARAV',
 546: 'AARON',
 547: 'ABDUL',
 548: 'ABDULLAH',
 549: 'ADAM',
 550: 'ADITYA',
 551: 'ADRIAN',
 552: 'AHMED',
 553: 'AIDAN',
 554: 'AIDEN',
 555: 'ALAN',
 556: 'ALEX',
 557: 'ALEXANDER',
 558: 'ALI',
 559: 'ALLEN',
 560: 'ALVIN',
 561: 'ANDREW',
 562: 'ANDY',
 563: 'ANSON',
 564: 'ANTHONY',
 565: 'ARJUN',
 566: 'ARMAAN',
 567: 'ARYAN',
 568: 'AUSTIN',
 569: 'AYAAN',
 570: 'AYDEN',
 571: 'BENJAMIN',
 572: 'BENSON',
 573: 'BRANDON',
 574: 'BRIAN',
 575: 'BRYAN',
 576: 'CALEB',
 577: 'CALVIN',
 578: 'CARSON',
 579: 'CHARLES',
 580: 'CHRISTIAN',
 581: 'CHRISTOPHER',
 582: 'CODY',
 583: 'CONNOR',
 584: 'DANIEL',
 585: 'DANNY',
 586: 'DARREN',
 587: 'DAVID',
 588: 'DEREK',
 589: 'DEVIN',
 590: 'DYLAN',
 591: 'EASON',
 592: 'EDISON',
 593: 'EDWIN',
 594: 'ELIJAH',
 595: 'ELVIS',
 596: 'ERIC',
 597: 'ETHAN',
 598: 'EVAN',
 599: 'FARHAN',
 600: 'FELIX',
 601: 'GABRIEL',
 602: 'GAVIN',
 603: 'GEORGE',
 604: 'HARRISON',
 605: 'HAYDEN',
 606: 'HENRY',
 607: 'IAN',
 608: 'IBRAHIM',
 609: 'ISAAC',
 610: 'ISHAAN',
 611: 'IVAN',
 612: 'JACK',
 613: 'JACKSON',
 614: 'JACKY',
 615: 'JACOB',
 616: 'JADEN',
 617: 'JAKE',
 618: 'JAMES',
 619: 'JASON',
 620: 'JAY',
 621: 'JAYDEN',
 622: 'JEFFREY',
 623: 'JEREMY',
 624: 'JERRY',
 625: 'JIA',
 626: 'JOHN',
 627: 'JOHNNY',
 628: 'JONATHAN',
 629: 'JORDAN',
 630: 'JOSEPH',
 631: 'JOSHUA',
 632: 'JULIAN',
 633: 'JUSTIN',
 634: 'KAI',
 635: 'KEVIN',
 636: 'KINGSLEY',
 637: 'KYLE',
 638: 'LAWRENCE',
 639: 'LEO',
 640: 'LEON',
 641: 'LIAM',
 642: 'LOGAN',
 643: 'LOUIS',
 644: 'LUCAS',
 645: 'LUKE',
 646: 'MARCUS',
 647: 'MARTIN',
 648: 'MASON',
 649: 'MATTHEW',
 650: 'MAX',
 651: 'MICHAEL',
 652: 'MILES',
 653: 'MOHAMED',
 654: 'MOHAMMAD',
 655: 'MOHAMMED',
 656: 'MUHAMMAD',
 657: 'NATHAN',
 658: 'NATHANIEL',
 659: 'NELSON',
 660: 'NICHOLAS',
 661: 'NOAH',
 662: 'OLIVER',
 663: 'OSCAR',
 664: 'OWEN',
 665: 'PATRICK',
 666: 'PETER',
 667: 'RAYAN',
 668: 'RAYMOND',
 669: 'RICHARD',
 670: 'RICKY',
 671: 'ROHAN',
 672: 'RYAN',
 673: 'SAMUEL',
 674: 'SEAN',
 675: 'SEBASTIAN',
 676: 'SHAWN',
 677: 'SIMON',
 678: 'STANLEY',
 679: 'STEVEN',
 680: 'SYED',
 681: 'TENZIN',
 682: 'TERRY',
 683: 'THOMAS',
 684: 'TIMOTHY',
 685: 'TONY',
 686: 'TRAVIS',
 687: 'TYLER',
 688: 'VICTOR',
 689: 'VINCENT',
 690: 'WILLIAM',
 691: 'WILSON',
 692: 'XAVIER',
 693: 'ZACHARY',
 694: 'ZAIN',
 695: 'ZAYAN',
 696: 'AARON',
 697: 'ABDOUL',
 698: 'ABDOULAYE',
 699: 'ADAM',
 700: 'ADEN',
 701: 'ADONIS',
 702: 'ADRIAN',
 703: 'AHMED',
 704: 'AIDAN',
 705: 'AIDEN',
 706: 'ALEXANDER',
 707: 'ALI',
 708: 'ALIJAH',
 709: 'ALVIN',
 710: 'AMADOU',
 711: "AMAR'E",
 712: 'AMARE',
 713: 'AMARI',
 714: 'AMIR',
 715: 'ANDRE',
 716: 'ANDREW',
 717: 'ANGEL',
 718: 'ANTHONY',
 719: 'ANTONIO',
 720: 'ASHTON',
 721: 'AUSTIN',
 722: 'AVERY',
 723: 'AYDEN',
 724: 'BENJAMIN',
 725: 'BLAKE',
 726: 'BRANDON',
 727: 'BRIAN',
 728: 'BRYAN',
 729: 'BRYCE',
 730: 'BRYSON',
 731: 'CALEB',
 732: 'CAMERON',
 733: 'CARMELO',
 734: 'CARTER',
 735: 'CAYDEN',
 736: 'CHAD',
 737: 'CHANCE',
 738: 'CHARLES',
 739: 'CHASE',
 740: 'CHRIS',
 741: 'CHRISTIAN',
 742: 'CHRISTOPHER',
 743: 'CODY',
 744: 'COREY',
 745: 'DANIEL',
 746: 'DARIUS',
 747: 'DARREN',
 748: 'DAVID',
 749: 'DERRICK',
 750: 'DEVIN',
 751: 'DEVON',
 752: 'DOMINIC',
 753: 'DONOVAN',
 754: 'DWAYNE',
 755: 'DYLAN',
 756: 'EDWARD',
 757: 'ELI',
 758: 'ELIAS',
 759: 'ELIJAH',
 760: 'EMMANUEL',
 761: 'ERIC',
 762: 'ETHAN',
 763: 'EVAN',
 764: 'GABRIEL',
 765: 'GAVIN',
 766: 'GEORGE',
 767: 'GIOVANNI',
 768: 'HASSAN',
 769: 'HAYDEN',
 770: 'HUNTER',
 771: 'IAN',
 772: 'SERENA',
 773: 'IBRAHIMA',
 774: 'ISAAC',
 775: 'ISAIAH',
 776: 'ISHMAEL',
 777: 'ISIAH',
 778: 'JACE',
 779: 'JACKSON',
 780: 'JACOB',
 781: 'JADEN',
 782: 'JAHEIM',
 783: 'JAHMIR',
 784: 'JAIDEN',
 785: 'JALEN',
 786: 'JAMAL',
 787: 'JAMEL',
 788: 'JAMES',
 789: 'JAMIR',
 790: 'JARED',
 791: 'JASIAH',
 792: 'JASON',
 793: 'JAYDEN',
 794: 'JAYLEN',
 795: 'JAYSON',
 796: 'JELANI',
 797: 'JEREMIAH',
 798: 'JEREMY',
 799: 'JERMAINE',
 800: 'JESSE',
 801: 'JOEL',
 802: 'JOHN',
 803: 'JONATHAN',
 804: 'JORDAN',
 805: 'JOSEPH',
 806: 'JOSHUA',
 807: 'JOSIAH',
 808: 'SHAINA',
 809: 'JUSTICE',
 810: 'JUSTIN',
 811: 'KADEN',
 812: 'KAI',
 813: 'KAIDEN',
 814: 'KALEB',
 815: 'KAMARI',
 816: 'KAMERON',
 817: 'KAYDEN',
 818: 'KEITH',
 819: 'KENNETH',
 820: 'KEVIN',
 821: 'KHALIL',
 822: 'KING',
 823: 'KIYAN',
 824: 'KYLE',
 825: 'KYMANI',
 826: 'LAMAR',
 827: 'LANDON',
 828: 'LEVI',
 829: 'LIAM',
 830: 'LOGAN',
 831: 'LUCAS',
 832: 'MAKAI',
 833: 'MALACHI',
 834: 'MALCOLM',
 835: 'MALIK',
 836: 'MAMADOU',
 837: 'MARC',
 838: 'MARCUS',
 839: 'MARQUIS',
 840: 'MASON',
 841: 'MATTHEW',
 842: 'MAURICE',
 843: 'MEKHI',
 844: 'MESSIAH',
 845: 'MICAH',
 846: 'MICHAEL',
 847: 'MILES',
 848: 'MOHAMED',
 849: 'MOHAMMED',
 850: 'MOUSSA',
 851: 'MYLES',
 852: 'NANA',
 853: 'NASIR',
 854: 'NATHAN',
 855: 'NATHANIEL',
 856: 'NEHEMIAH',
 857: 'NICHOLAS',
 858: 'NICOLAS',
 859: 'NIGEL',
 860: 'NOAH',
 861: 'OMAR',
 862: 'OMARI',
 863: 'OUSMANE',
 864: 'PATRICK',
 865: 'PRESTON',
 866: 'PRINCE',
 867: 'QUINCY',
 868: 'RICARDO',
 869: 'RICHARD',
 870: 'ROBERT',
 871: 'RODNEY',
 872: 'RYAN',
 873: 'SAMUEL',
 874: 'SEAN',
 875: 'SEBASTIAN',
 876: 'SEKOU',
 877: 'SETH',
 878: 'SHAINDEL',
 879: 'SINCERE',
 880: 'STEPHEN',
 881: 'STEVEN',
 882: 'TERRELL',
 883: 'TERRENCE',
 884: 'TIMOTHY',
 885: 'TRAVIS',
 886: 'TRISTAN',
 887: 'TROY',
 888: 'TYLER',
 889: 'VICTOR',
 890: 'WILLIAM',
 891: 'XAVIER',
 892: 'ZACHARY',
 893: 'ZAIRE',
 894: 'ZION',
 895: 'ZYAIRE',
 896: 'AARON',
 897: 'ABDIEL',
 898: 'ABEL',
 899: 'ABRAHAM',
 900: 'ADAM',
 901: 'ADEN',
 902: 'ADONIS',
 903: 'ADRIAN',
 904: 'ADRIEL',
 905: 'AIDAN',
 906: 'AIDEN',
 907: 'ALAN',
 908: 'ALBERT',
 909: 'ALBERTO',
 910: 'ALDO',
 911: 'ALEJANDRO',
 912: 'ALEX',
 913: 'ALEXANDER',
 914: 'ALEXIS',
 915: 'ALFREDO',
 916: 'ALLAN',
 917: 'ALLEN',
 918: 'ALVIN',
 919: 'AMIR',
 920: 'ANDERSON',
 921: 'ANDRE',
 922: 'ANDRES',
 923: 'ANDREW',
 924: 'ANDY',
 925: 'ANGEL',
 926: 'ANGELO',
 927: 'ANTHONY',
 928: 'ANTONIO',
 929: 'ARIEL',
 930: 'ARMANDO',
 931: 'ARMANI',
 932: 'ARTURO',
 933: 'ASHTON',
 934: 'AUSTIN',
 935: 'AVERY',
 936: 'AXEL',
 937: 'AYDEN',
 938: 'BENJAMIN',
 939: 'BRADLEY',
 940: 'BRANDON',
 941: 'BRAYAN',
 942: 'BRAYDEN',
 943: 'BRYAN',
 944: 'BRYANT',
 945: 'BRYCE',
 946: 'BYRON',
 947: 'CALEB',
 948: 'CAMERON',
 949: 'CARLOS',
 950: 'CARMELO',
 951: 'CESAR',
 952: 'ABIGAIL',
 953: 'ADA',
 954: 'AISHA',
 955: 'AIZA',
 956: 'ALEENA',
 957: 'ALEXA',
 958: 'ALEXANDRA',
 959: 'ALICE',
 960: 'ALINA',
 961: 'ALISHA',
 962: 'ALIYAH',
 963: 'ALLISON',
 964: 'ALYSSA',
 965: 'AMANDA',
 966: 'AMBER',
 967: 'AMELIA',
 968: 'AMY',
 969: 'ANGEL',
 970: 'ANGELA',
 971: 'ANGELINA',
 972: 'ANGIE',
 973: 'ANIKA',
 974: 'ANNA',
 975: 'ANNABELLE',
 976: 'ANNIE',
 977: 'ARIA',
 978: 'ARIANA',
 979: 'ARIANNA',
 980: 'ARYA',
 981: 'ASHLEY',
 982: 'AUDREY',
 983: 'AVA',
 984: 'AYESHA',
 985: 'BELLA',
 986: 'BONNIE',
 987: 'BRIANNA',
 988: 'CATHERINE',
 989: 'CECILIA',
 990: 'CHARLOTTE',
 991: 'CHLOE',
 992: 'CHRISTINA',
 993: 'CHRISTINE',
 994: 'CHRISTY',
 995: 'CINDY',
 996: 'CLAIRE',
 997: 'CYNTHIA',
 998: 'DAISY',
 999: 'DIYA',
 ...}

In [16]:
# convert series to string
# pass comma and space as a delimeter
# sort, remove duplicates, convert to title
', '.join(baby_names["Child's First Name"].sort_values().drop_duplicates().str.title())

"Aaliyah, Aarav, Aaron, Aayan, Abby, Abdiel, Abdoul, Abdoulaye, Abdul, Abdullah, Abel, Abigail, Abraham, Ada, Adam, Adan, Addison, Adelaide, Adele, Adeline, Aden, Adina, Aditya, Adonis, Adrian, Adriana, Adrianna, Adriel, Aharon, Ahmad, Ahmed, Ahron, Ahuva, Aicha, Aidan, Aiden, Aileen, Aimee, Aisha, Aissatou, Aiza, Akiva, Alan, Alana, Alani, Albert, Alberto, Aldo, Alec, Aleena, Alejandra, Alejandro, Aleksander, Alessandra, Alessia, Alex, Alexa, Alexander, Alexandra, Alexandria, Alexia, Alexis, Alfredo, Ali, Alice, Alicia, Alijah, Alina, Alisa, Alisha, Alison, Alisson, Aliyah, Aliza, Allan, Allen, Allison, Allyson, Alma, Alondra, Alpha, Alston, Alter, Alvin, Alyson, Alyssa, Amadou, Amalia, Amanda, Amani, Amar'E, Amare, Amari, Amaya, Amber, Amberly, Amelia, Amelie, Amina, Aminata, Amir, Amira, Amirah, Amiyah, Amrom, Amy, Ana, Anais, Analia, Anastasia, Anaya, Anderson, Andre, Andrea, Andres, Andrew, Andy, Angel, Angela, Angelica, Angelina, Angelique, Angelo, Angely, Angie, Angus, Anika, Anisha, Aniya, Aniyah, Anna, Annabel, Annabelle, Anne, Annie, Anson, Anthony, Antonia, Antonio, Anya, April, Archer, Arely, Ari, Aria, Ariana, Arianna, Arianny, Ariel, Ariela, Ariella, Arielle, Arisha, Arjun, Armaan, Armando, Armani, Aron, Arthur, Arturo, Arya, Aryan, Aryeh, Asher, Ashley, Ashly, Ashton, Atara, Athena, Atticus, Aubree, Aubrey, Audrey, August, Augustus, Aurora, Austin, Autumn, Ava, Avery, Avi, Avigail, Aviva, Avraham, Avril, Avrohom, Avrum, Awa, Axel, Aya, Ayaan, Ayan, Ayanna, Ayden, Ayesha, Ayla, Ayleen, Aylin, Aahil, Aaliyah, Aarav, Aaron, Aarya, Aaryan, Aayan, Abby, Abdiel, Abdoul, Abdoulaye, Abdul, Abdullah, Abdulloh, Abe, Abel, Abigail, Aboubacar, Abraham, Abrar, Abrielle, Abril, Abubakr, Ace, Ada, Adalynn, Adam, Adan, Addison, Adelaide, Adele, Adelina, Adeline, Adelyn, Adelynn, Aden, Adiel, Adina, Aditya, Adonis, Adrian, Adriana, Adrianna, Adriel, Adyan, Ahad, Aharon, Ahmad, Ahmed, Ahnaf, Ahron, Ahuva, Aicha, Aidan, Aiden, Ailani, Aileen, Aimee, Aisha, Aissata, Aissatou, Aitana, Aiza, Aizah, Akiva, Alahia, Alaia, Alaina, Alan, Alana, Alani, Alanis, Alanna, Alayna, Alba, Albert, Alberto, Aleah, Alec, Aleena, Alejandra, Alejandro, Aleksandra, Alessandra, Alessandro, Alessia, Alex, Alexa, Alexander, Alexandra, Alexandria, Alexia, Alexis, Alfred, Alfredo, Ali, Alia, Aliah, Alice, Alicia, Alina, Alisa, Alisha, Alison, Alissa, Alisson, Aliya, Aliyah, Aliza, Allan, Allen, Allison, Allyson, Alma, Alondra, Alonso, Alpha, Alston, Alvin, Alyssa, Amadou, Amaia, Amalia, Amanda, Amani, Amar'E, Amara, Amare, Amari, Amaya, Amayah, Ambar, Amber, Ameer, Amelia, Amelie, Amia, Amina, Aminata, Amir, Amira, Amirah, Amiya, Amiyah, Amora, Amrom, Amy, Ana, Anabel, Anabella, Anabelle, Anabia, Anahi, Analia, Ananya, Anas, Anastasia, Anaya, Anayah, Anderson, Andre, Andrea, Andres, Andrew, Andy, Angel, Angela, Angelica, Angelina, Angeline, Angelique, Angelo, Angie, Anika, Anisa, Aniya, Aniyah, Anjali, Anna, Annabel, Annabella, Annabelle, Annalise, Anne, Annie, Annika, Anson, Anthony, Anton, Antonella, Antonia, Antonio, Anya, April, Arabella, Archer, Arden, Arely, Arham, Ari, Aria, Ariadna, Ariadne, Ariah, Arian, Ariana, Arianna, Arianny, Ariel, Ariella, Arielle, Arisha, Ariyah, Arjun, Arlette, Arlo, Armaan, Armando, Armani, Aron, Arthur, Arturo, Arvin, Arya, Aryan, Arye, Aryeh, Asher, Ashley, Ashly, Ashton, Asia, Astrid, Atara, Athena, Aubree, Aubrey, Audrey, August, Augustus, Aurelia, Aurora, Austin, Autumn, Ava, Avery, Avi, Aviel, Avigail, Avital, Aviva, Avraham, Avrohom, Avrum, Axel, Aya, Ayaan, Ayala, Ayan, Ayat, Ayden, Aydin, Ayelet, Ayesha, Ayla, Ayleen, Aylin, Ayra, Azaan, Azaria, Azariah, Aziza, Baila, Barbara, Baruch, Batsheva, Batya, Beatrice, Beckett, Bella, Ben, Benjamin, Bennett, Benson, Bentzion, Benzion, Berish, Bianca, Bintou, Binyomin, Blake, Blima, Blimy, Bonnie, Boruch, Boubacar, Bracha, Bradley, Brady, Brandon, Brayan, Brayden, Breindy, Brenda, Brendan, Brian, Briana, Brianna, Brianny, Bridget, Brielle, Britney, Brittany, Brody, Brooke, Brooklyn, Bruce, Brucha, Bruchy, Bryan, Bryanna, Bryant, Bryce, Brynn, Bryson, Byron, Baila, Bailey, Barbara, Baruch, Basya, Batsheva, Batya, Beatrice, Beatrix, Beau, Beckett, Belen, Bella, Ben, Benjamin, Bennett, Benson, Bentzion, Benzion, Berish, Berl, Bethany, Bianca, Bina, Bintou, Binyamin, Binyomin, Blair, Blake, Blessing, Blima, Blimy, Bodhi, Bonnie, Boruch, Boubacar, Bowen, Bracha, Bradley, Brady, Brandon, Brayan, Brayden, Breindy, Brenda, Brendan, Bria, Brian, Briana, Brianna, Brianny, Bridget, Briella, Brielle, Brigitte, Britney, Brittany, Brody, Brooke, Brooklyn, Brooks, Bruce, Brucha, Bruchy, Bruno, Bryan, Bryanna, Bryant, Bryce, Brynn, Bryson, Byron, Caden, Caitlin, Caleb, Calvin, Cameron, Camila, Camilla, Camille, Camilo, Camren, Carlos, Carmelo, Carmen, Carmine, Carolina, Caroline, Carson, Carter, Casey, Cassandra, Catalina, Catherine, Cayden, Cecilia, Celeste, Celia, Cesar, Chad, Chaim, Chana, Chance, Chanie, Chany, Charles, Charlie, Charlotte, Chase, Chava, Chavy, Chaya, Chelsea, Cheskel, Chesky, Cheyenne, Chloe, Chris, Christian, Christina, Christine, Christopher, Christy, Cindy, Claire, Clara, Cody, Cole, Colette, Colin, Connie, Connor, Conor, Cooper, Cora, Corey, Cristian, Cristina, Cristofer, Cristopher, Crystal, Cynthia, Cyrus, Caden, Caiden, Cairo, Caitlin, Caleb, Cali, Calvin, Camden, Cameron, Camila, Camilla, Camille, Camilo, Camren, Carina, Carla, Carlos, Carly, Carmelo, Carmen, Carolina, Caroline, Carson, Carter, Cassandra, Cassidy, Cataleya, Catalina, Catherine, Cayden, Cecelia, Cecilia, Celeste, Celia, Celine, Cesar, Chace, Chad, Chaim, Chana, Chance, Chanel, Chany, Charles, Charlie, Charlotte, Chase, Chava, Chavy, Chaya, Chelsea, Cheskel, Chesky, Chiara, Chloe, Chris, Christian, Christina, Christine, Christopher, Cindy, Claire, Clara, Clark, Claudia, Clementine, Cleo, Cody, Cole, Colette, Colin, Colton, Connie, Connor, Conor, Cooper, Cora, Corey, Cormac, Cristian, Cristopher, Crosby, Crystal, Cynthia, Cyrus, Dahlia, Daisy, Dakota, Dalia, Damani, Damaris, Damian, Damien, Dana, Daniel, Daniela, Daniella, Danielle, Danna, Danny, Dante, Daphne, Dariel, Darius, Darren, Darwin, Dashiell, David, Dayana, Dean, Deborah, Declan, Delilah, Denise, Dennis, Denzel, Dereck, Derek, Derick, Derrick, Destiny, Devin, Devon, Devora, Devorah, Diana, Diego, Dina, Diya, Dominic, Dominick, Donovan, Doris, Dov, Dovid, Drew, Dulce, Dwayne, Dylan, Dahlia, Daisy, Dakota, Daleyza, Dalia, Dallas, Damari, Damian, Damien, Damon, Dana, Daniel, Daniela, Daniella, Danielle, Danna, Danny, Dante, Daphne, Dara, Daria, Dariel, Darius, Darren, Darwin, Dashiell, David, Dayana, Dean, Deborah, Declan, Delilah, Denis, Denisse, Dennis, Denzel, Dereck, Derek, Derick, Derrick, Desmond, Destiny, Devin, Devoiry, Devora, Devorah, Devory, Diana, Diego, Dilan, Dillon, Dina, Dion, Dior, Diyora, Dominic, Dominick, Donovan, Doris, Dov, Dovid, Dream, Drew, Dua, Dulce, Duvid, Dylan, Eason, Eddie, Eddy, Eden, Edgar, Edison, Eduardo, Edward, Edwin, Efraim, Egypt, Eileen, Eitan, Elaine, Elan, Eleanor, Elena, Eli, Elian, Eliana, Elianna, Elianny, Elias, Eliezer, Elijah, Elimelech, Elina, Elisa, Elise, Elisheva, Eliyahu, Eliza, Elizabeth, Ella, Elle, Elliana, Ellie, Elliot, Elliott, Ellis, Eloise, Elsa, Eluzer, Elvin, Elvis, Emanuel, Emely, Emerson, Emilia, Emiliano, Emilio, Emily, Emma, Emmanuel, Emmett, Enrique, Ephraim, Eric, Erica, Erick, Erik, Erika, Erin, Eshal, Esme, Esmeralda, Essence, Esteban, Estelle, Ester, Esther, Estrella, Esty, Ethan, Etty, Eva, Evan, Evangeline, Eve, Evelyn, Everett, Ezekiel, Ezequiel, Ezra, Ezriel, Ean, Eason, Eddie, Eddy, Eden, Edgar, Edison, Edith, Eduardo, Edward, Edwin, Efraim, Egypt, Eileen, Eitan, Elaine, Elan, Eleanor, Elena, Eleni, Eli, Eliam, Elian, Eliana, Elianna, Elianny, Elias, Eliel, Eliezer, Elijah, Elimelech, Elina, Eliot, Elisa, Elise, Elisheva, Eliyahu, Eliza, Elizabeth, Ella, Elle, Ellie, Elliot, Elliott, Ellis, Elodie, Eloise, Elsa, Eluzer, Elvis, Elya, Emaan, Emani, Emanuel, Emely, Emerson, Emery, Emil, Emilia, Emiliano, Emilio, Emily, Emma, Emmanuel, Emmeline, Emmett, Emmy, Empress, Enrique, Enzo, Ephraim, Eric, Erica, Erick, Erik, Erika, Erin, Ermias, Eshaal, Eshan, Esme, Esmeralda, Esteban, Estelle, Ester, Esther, Esty, Ethan, Etty, Eunice, Eva, Evan, Evangeline, Eve, Evelina, Evelyn, Everett, Everly, Evie, Eyad, Ezekiel, Ezequiel, Ezra, Ezriel, Fabian, Faiga, Faigy, Faith, Fanta, Farhan, Fatima, Fatou, Fatoumata, Felix, Fernanda, Fernando, Filip, Finley, Finn, Fiona, Fradel, Frady, Fraidy, Frances, Francesca, Francesco, Francisco, Frank, Franklin, Freddy, Frederick, Frimet, Fabian, Faiga, Faigy, Faith, Fanta, Farah, Farhan, Farida, Fatima, Fatou, Fatoumata, Felipe, Felix, Fernanda, Fernando, Feynman, Filip, Finley, Finn, Fiona, Fishel, Fradel, Frady, Fraidy, Frances, Francesca, Francesco, Francis, Francisco, Frank, Franklin, Frederick, Freida, Freya, Frida, Frieda, Frimet, Gabriel, Gabriela, Gabriella, Gabrielle, Gael, Gavin, Gavriel, Gemma, Genesis, Genevieve, George, Georgia, Geraldine, Gerardo, Gia, Giada, Gianna, Giovani, Giovanna, Giovanni, Giovanny, Giselle, Gittel, Gitty, Giulia, Giuliana, Golda, Goldy, Gordon, Grace, Graham, Grant, Grayson, Gregory, Greta, Greyson, Griffin, Guadalupe, Gustavo, Gabriel, Gabriela, Gabriella, Gabrielle, Gael, Gaia, Galilea, Gary, Gavin, Gavriel, Gemma, Genesis, Genevieve, George, Georgia, Georgina, Gerard, Gerardo, Gia, Giancarlo, Gianluca, Gianna, Gianni, Gideon, Giovani, Giovanna, Giovanni, Giovanny, Giselle, Gittel, Gitty, Giulia, Giuliana, Giuseppe, Golda, Goldie, Goldy, Gordon, Grace, Graham, Grant, Grayson, Gregory, Greta, Grey, Greyson, Griffin, Guadalupe, Gustavo, Guy, Gwendolyn, Hadassa, Hadassah, Hadley, Hafsa, Hailey, Haley, Hamza, Hana, Hanna, Hannah, Hao, Hareem, Harmony, Harper, Harrison, Harry, Harvey, Hassan, Hawa, Hayden, Haylee, Hayley, Hazel, Heaven, Hector, Heidi, Heidy, Helen, Helena, Henny, Henry, Hersh, Hershel, Hershy, Hinda, Hindy, Hudson, Hugo, Hunter, Hadassah, Hadley, Hafsa, Hailey, Hailie, Haley, Hamza, Hana, Haniya, Hanley, Hanna, Hannah, Hareem, Harley, Harlow, Harmony, Harper, Harrison, Harry, Harvey, Hashim, Hassan, Hawa, Hayden, Haylee, Hazel, Heaven, Hector, Heidi, Heidy, Helen, Helena, Henchy, Hendy, Henny, Henry, Herman, Hersh, Hershel, Hershy, Hillel, Hinda, Hindy, Hoorain, Hope, Hudson, Hugo, Hunter, Ian, Ibrahim, Ibrahima, Idy, Iker, Ilan, Ilana, Imani, Ines, Ingrid, Irene, Iris, Isaac, Isabel, Isabela, Isabella, Isabelle, Isaiah, Ishaan, Ishmael, Isiah, Isis, Isla, Ismael, Israel, Issac, Itzel, Ivan, Ivanna, Ivy, Izabella, Izaiah, Ian, Ibrahim, Ibrahima, Ibrohim, Idris, Idy, Iker, Ilan, Ilana, Imani, Imogen, Imona, Imran, Inaaya, Inaya, Ines, Irene, Iris, Isaac, Isabel, Isabela, Isabella, Isabelle, Isaiah, Isaias, Ishaan, Isiah, Isis, Isla, Ismael, Israel, Issac, Itzel, Ivan, Ivanna, Ivy, Iymona, Izabella, Jace, Jack, Jackson, Jacky, Jacob, Jacqueline, Jad, Jada, Jade, Jaden, Jadiel, Jael, Jaelyn, Jaelynn, Jaheim, Jahmir, Jaiden, Jaime, Jake, Jalen, Jaliyah, Jamal, Jamari, Jamel, James, Jamie, Jamir, Jana, Jane, Janelle, Janice, Janiel, Janiya, Janiyah, Jannat, Januel, Jared, Jariel, Jasiah, Jaslene, Jasmin, Jasmine, Jason, Jasper, Javier, Jaxon, Jay, Jayce, Jayda, Jayden, Jayla, Jaylah, Jayleen, Jaylen, Jaylene, Jaylin, Jaylyn, Jayren, Jayson, Jazlyn, Jazmin, Jazmine, Jazzlyn, Jean, Jeancarlos, Jefferson, Jeffrey, Jelani, Jencarlos, Jenna, Jennifer, Jenny, Jeremiah, Jeremias, Jeremy, Jermaine, Jerry, Jesse, Jessica, Jessie, Jesus, Jia, Jimena, Jimmy, Joanna, Joaquin, Jocelyn, Joel, Johan, Johann, Johanna, John, Johnathan, Johnny, Jolie, Jolin, Jonah, Jonas, Jonathan, Jordan, Jordyn, Jorge, Jose, Joselyn, Joseph, Josephine, Joshua, Josiah, Josue, Joy, Joyce, Juan, Judah, Jude, Judy, Julia, Julian, Juliana, Julianna, Julie, Julien, Juliet, Juliette, Julio, Julissa, Julius, Jun, June, Junior, Justice, Justin, Jabari, Jace, Jack, Jackson, Jacky, Jacob, Jacqueline, Jad, Jada, Jade, Jaden, Jadiel, Jael, Jaelyn, Jaheim, Jahir, Jahmir, Jaiden, Jaime, Jair, Jake, Jakob, Jakub, Jalen, Jaliyah, Jamal, Jamar, Jamari, Jamel, James, Jameson, Jamie, Jamir, Jana, Janae, Jane, Janelle, Janice, Janiya, Janiyah, Jannat, Jannatul, Januel, Jared, Jariel, Jasiah, Jaslene, Jasmin, Jasmina, Jasmine, Jason, Jasper, Javier, Jax, Jaxon, Jaxson, Jay, Jayce, Jayceon, Jaycob, Jayda, Jayden, Jayla, Jaylah, Jaylee, Jayleen, Jaylen, Jaylene, Jaylin, Jayson, Jaziel, Jazlyn, Jazmin, Jazmine, Jean, Jefferson, Jeffrey, Jenna, Jennifer, Jenny, Jeremiah, Jeremias, Jeremy, Jerry, Jesse, Jessica, Jessie, Jesus, Jewel, Jimena, Jimmy, Joanna, Joaquin, Jocelyn, Joel, Johan, Johann, Johanna, John, Johnny, Jolie, Jonael, Jonah, Jonas, Jonathan, Jordan, Jordi, Jordyn, Jorge, Jose, Josef, Joselyn, Joseph, Josephine, Joshua, Josiah, Josie, Josue, Journee, Journey, Joy, Joyce, Joziah, Juan, Judah, Jude, Judy, Julia, Julian, Juliana, Julianna, Julie, Julien, Juliet, Juliette, Julio, Julissa, Julius, June, Junior, Juniper, Justice, Justin, Kacper, Kaden, Kaelyn, Kai, Kaiden, Kailey, Kailyn, Kaitlyn, Kaleb, Kaliyah, Kamari, Kameron, Kamila, Kamiyah, Kareem, Karen, Karina, Karla, Kassandra, Kate, Katelyn, Katelynn, Katherine, Kathryn, Katie, Kaya, Kayden, Kayla, Kaylee, Kayleen, Kayleigh, Kaylie, Kaylin, Keily, Keira, Keith, Kelly, Kelsey, Kelvin, Kendra, Kennedy, Kenneth, Kenny, Kenya, Kevin, Keyla, Khalil, Khloe, Kiara, Kieran, Kimberly, Kimora, King, Kingsley, Kingston, Kira, Kiyan, Krish, Kristian, Krystal, Kyla, Kyle, Kylee, Kylie, Kymani, Kabir, Kaden, Kadiatou, Kai, Kaia, Kaiden, Kailani, Kailee, Kailey, Kailyn, Kairo, Kaitlyn, Kalani, Kaleb, Kali, Kaliyah, Kamari, Kameron, Kamila, Kamiyah, Kamren, Karas, Kareem, Karen, Karina, Karla, Karter, Kate, Katelyn, Katelynn, Katerina, Katherine, Katie, Kayden, Kayla, Kaylani, Kaylee, Kayleen, Kaylie, Kaylin, Kayson, Kazi, Kehlani, Keila, Keily, Keira, Kelly, Kelsey, Kelvin, Kendra, Kendrick, Kennedi, Kennedy, Kenneth, Kenny, Kenzie, Kenzo, Kevin, Keyla, Khadija, Khadijah, Khaleesi, Khalil, Khloe, Kian, Kiara, Kiera, Kieran, Kimberly, Kimi, Kimora, King, Kingsley, Kingston, Kira, Kori, Kourtney, Krish, Kristen, Kristian, Kristina, Kyla, Kyle, Kylee, Kylie, Kymani, Kyree, Kyrie, Kyro, Kyson, Laila, Lamar, Lana, Landon, Lara, Larry, Laura, Lauren, Lawrence, Layla, Lazer, Lea, Leah, Leandro, Leela, Leila, Leilani, Lena, Lenny, Leo, Leon, Leonardo, Leonel, Leora, Lesley, Leslie, Lesly, Lev, Levi, Leyla, Lia, Liam, Liana, Liba, Libby, Lila, Lilah, Liliana, Lillian, Lilly, Lily, Lina, Linda, Lindsay, Lipa, Litzy, Liv, Livia, Liz, Lizbeth, Logan, Lola, London, Londyn, Lorenzo, Louis, Louisa, Luca, Lucas, Lucia, Lucy, Luis, Luka, Lukas, Luke, Luna, Luz, Lydia, Lyla, Lyric, Laia, Laila, Lailah, Laith, Lana, Landon, Lara, Laura, Lauren, Lauryn, Lawrence, Layan, Layla, Lazer, Lea, Leah, Leandro, Leanna, Leela, Legend, Leia, Leibish, Leila, Leilani, Leilany, Lena, Lenny, Leo, Leon, Leona, Leonard, Leonardo, Leonel, Leonidas, Leora, Leslie, Lesly, Lev, Levi, Leyla, Lia, Liah, Liam, Lian, Liana, Liba, Libby, Lielle, Lila, Lilah, Lilia, Lilian, Liliana, Lillian, Lilliana, Lilly, Lily, Lina, Lincoln, Linda, Lindsay, Lionel, Liora, Lipa, Lisa, Litzy, Liv, Livia, Lizbeth, Lizeth, Logan, Lola, London, Londyn, Lorenzo, Louis, Louisa, Louise, Luca, Lucas, Lucia, Lucian, Luciana, Lucien, Lucille, Lucy, Luis, Luka, Lukas, Luke, Luna, Luz, Lyanna, Lydia, Lyla, Lyric, Mackenzie, Madeleine, Madeline, Madelyn, Madison, Mae, Maeve, Maggie, Mahamadou, Makai, Makayla, Makenzie, Makhi, Maksim, Malachi, Malak, Malcolm, Malia, Malik, Maliyah, Malka, Malky, Mamadou, Mandy, Manha, Manuel, Marc, Marco, Marcos, Marcus, Margaret, Margot, Maria, Mariah, Mariam, Mariama, Mariana, Marilyn, Marina, Mario, Marisol, Mark, Marlon, Marquis, Martin, Marvin, Mary, Maryam, Mason, Mateo, Mathew, Mathias, Matias, Matilda, Matteo, Matthew, Maurice, Mauricio, Max, Maxim, Maximilian, Maximiliano, Maximo, Maximus, Maxwell, Maya, Mayer, Mckenzie, Megan, Meilech, Meir, Mekhi, Melanie, Melany, Melina, Melissa, Melody, Melvin, Menachem, Menashe, Mendel, Mendy, Messiah, Meyer, Mia, Miah, Micah, Michael, Michaela, Michal, Michelle, Miguel, Mikaela, Mikayla, Mike, Mila, Milagros, Milan, Milena, Miles, Miley, Milo, Mina, Mindy, Miracle, Miranda, Mirel, Miri, Miriam, Mohamed, Mohammad, Mohammed, Moises, Moishe, Molly, Mordechai, Morgan, Morris, Moses, Moshe, Moussa, Muhammad, Musa, Mustafa, Mya, Myles, Mabel, Mackenzie, Maddox, Madeleine, Madeline, Madelyn, Madina, Madison, Madisyn, Mae, Maeve, Magaly, Maggie, Mahnoor, Maia, Maimouna, Maisie, Maison, Maite, Major, Makai, Makayla, Malachi, Malak, Malaysia, Malcolm, Malek, Malia, Maliha, Malik, Malika, Maliyah, Malka, Malky, Mamadou, Mandy, Manha, Manuel, Marc, Marcel, Marcelo, Marco, Marcos, Marcus, Margaret, Margaux, Margot, Maria, Mariah, Mariam, Mariama, Mariana, Marie, Marielle, Marilyn, Mario, Marjorie, Mark, Marley, Marlon, Marlowe, Martin, Marvin, Mary, Maryam, Mason, Massimo, Mateo, Mathew, Mathias, Matias, Matilda, Matteo, Matthew, Matthias, Mauricio, Maverick, Max, Maxim, Maximilian, Maximiliano, Maximo, Maximus, Maxwell, Maya, Mayer, Mayson, Mckenzie, Mckenzie, Md, Mechel, Meera, Megan, Meghan, Meilech, Meir, Meira, Mekhi, Melania, Melanie, Melany, Melina, Melissa, Melody, Melvin, Menachem, Menashe, Mendel, Mendy, Menucha, Meshilem, Messiah, Meyer, Mia, Miah, Micah, Michael, Michaela, Michal, Michelle, Miguel, Mika, Mikael, Mikaela, Mikayla, Mike, Mila, Milan, Milana, Milani, Milania, Milena, Miles, Miley, Millie, Milo, Mina, Mindy, Mira, Miracle, Miranda, Mirel, Miri, Miriam, Misael, Miya, Mohamed, Mohammad, Mohammed, Moises, Moishe, Moishy, Molly, Monica, Monserrat, Montserrat, Mordche, Mordechai, Morgan, Morris, Moses, Moshe, Motty, Mouhamed, Moussa, Muhammad, Muhammad Ali, Muntaha, Musa, Mushka, Muslima, Mustafa, Mya, Myles, Myra, Nachman, Nadia, Naftali, Naftuli, Nahla, Nana, Nancy, Naomi, Nasir, Natalia, Natalie, Nataly, Natasha, Nathalia, Nathalie, Nathaly, Nathan, Nathanael, Nathaniel, Nayeli, Nechama, Nehemiah, Neil, Nelson, Nevaeh, Neymar, Nia, Nicholas, Nico, Nicolas, Nicole, Nicolette, Nigel, Nikhil, Nikita, Nikolas, Nina, Noa, Noah, Noam, Noel, Noemi, Nolan, Noor, Nora, Nosson, Nyla, Nylah, Nabiha, Nachman, Nadia, Naftali, Naftuli, Nahla, Nailah, Nala, Nalani, Naomi, Nashla, Nashley, Nashly, Nasir, Natalia, Natalie, Natasha, Nathalia, Nathalie, Nathaly, Nathan, Nathanael, Nathaniel, Nava, Nayeli, Nayla, Nazir, Nechama, Nehemiah, Neil, Nelson, Nevaeh, Neymar, Nia, Niam, Nicholas, Nico, Nicolas, Nicole, Nicolette, Nikita, Nikolai, Nikolas, Nina, Noa, Noach, Noah, Noam, Noel, Noelle, Noemi, Nolan, Noor, Nora, Norah, Nosson, Nova, Nuchem, Nusrat, Nyah, Nyla, Nylah, Olive, Oliver, Olivia, Omar, Omari, Oscar, Oumar, Oumou, Ousmane, Owen, Olive, Oliver, Olivia, Omar, Omari, Ophelia, Oren, Ori, Orion, Orlando, Oscar, Oskar, Otis, Otto, Oumar, Oumou, Ousmane, Owen, Pablo, Paige, Paola, Paris, Parker, Patrick, Paul, Paula, Pearl, Pedro, Penelope, Perel, Perl, Perla, Perry, Pessy, Peter, Peyton, Philip, Phoebe, Phoenix, Pinchas, Pinchus, Piper, Polina, Preston, Prince, Princess, Pablo, Paige, Pamela, Paris, Parker, Patrick, Paul, Paula, Payton, Pearl, Pedro, Penelope, Perel, Peretz, Perl, Perla, Perry, Pessy, Peter, Peyton, Philip, Phoebe, Phoenix, Pierce, Pinchas, Pinchus, Piper, Poppy, Precious, Preston, Prince, Princess, Princeton, Priscilla, Queenie, Quincy, Quinn, Queena, Queenie, Quincy, Quinn, Rachel, Rafael, Raina, Raizel, Raizy, Randy, Raphael, Raquel, Raul, Rayan, Raymond, Rayyan, Reagan, Rebecca, Reed, Reem, Reese, Rehan, Reid, Renee, Reuven, Ricardo, Richard, Ricky, Rifka, Rifky, Rihanna, Riley, Rivka, Rivky, Robert, Roberto, Rocco, Rochel, Rodney, Rodrigo, Roger, Rohan, Roizy, Roman, Romeo, Ronald, Ronan, Rory, Rosa, Rose, Roselyn, Rosie, Rowan, Roy, Royce, Ruben, Ruby, Ruchy, Ruth, Ryan, Ryder, Rachel, Rafael, Rahaf, Raina, Raizel, Raizy, Ralph, Randy, Raphael, Raquel, Raul, Raya, Rayan, Raymond, Rayna, Rayyan, Reagan, Rebecca, Reed, Reem, Reese, Rehan, Reid, Reign, Reizy, Remi

# Export to CSV

In [19]:
# export data frame to csv
baby_names.to_csv('data/baby_names.csv', index = True) # keep index (default)
baby_names.to_csv('data/baby_names_no_index.csv', index = False) # remove index

In [21]:
# export data frame with specified columns to csv
baby_names.to_csv(
    'data/baby_names_filtered.csv',
    columns = ['Gender', 'Ethnicity', "Child's First Name"],
    index = False) # remove index
    # encoding = 'utf-8' if you recieve an encoding error

# Importing Excel Files

In [24]:
# import excel file with single worksheet
# parameters similar to csv import
df = pd.read_excel('data/data_single_worksheets.xlsx')
df.head()

  First Name Last Name           City Gender
0    Brandon     James          Miami      M
1       Sean   Hawkins         Denver      M
2       Judy       Day    Los Angeles      F
3     Ashley      Ruiz  San Francisco      F
4  Stephanie     Gomez       Portland      F

In [25]:
# import excel file with multiple worksheets
# sheet names have an index positions
# df_one = pd.read_excel('data/data_multiple_worksheets.xlsx', sheet_name = 0) 
df_one = pd.read_excel('data/data_multiple_worksheets.xlsx', sheet_name = 'Data 1')
df_one.head()

  First Name Last Name           City Gender
0    Brandon     James          Miami      M
1       Sean   Hawkins         Denver      M
2       Judy       Day    Los Angeles      F
3     Ashley      Ruiz  San Francisco      F
4  Stephanie     Gomez       Portland      F

In [26]:
# import excel file with multiple worksheets
# sheet names have an index positions
df_two = pd.read_excel('data/data_multiple_worksheets.xlsx', sheet_name = 'Data 2')
df_two.head()

  First Name Last Name           City Gender
0     Parker     Power        Raleigh      F
1    Preston  Prescott   Philadelphia      F
2    Ronaldo   Donaldo         Bangor      M
3      Megan   Stiller  San Francisco      M
4     Bustin    Jieber         Austin      F

In [32]:
# import excel file with multiple worksheets into a dictionary
# keys are the sheet index names (or positions if that's what was used)
# values are the respective data frames
# sheet_name = None will import all sheets
dict = pd.read_excel('data/data_multiple_worksheets.xlsx', sheet_name = ['Data 1', 'Data 2'])
dict

{'Data 1':   First Name Last Name           City Gender
 0    Brandon     James          Miami      M
 1       Sean   Hawkins         Denver      M
 2       Judy       Day    Los Angeles      F
 3     Ashley      Ruiz  San Francisco      F
 4  Stephanie     Gomez       Portland      F,
 'Data 2':   First Name Last Name           City Gender
 0     Parker     Power        Raleigh      F
 1    Preston  Prescott   Philadelphia      F
 2    Ronaldo   Donaldo         Bangor      M
 3      Megan   Stiller  San Francisco      M
 4     Bustin    Jieber         Austin      F}

In [30]:
# extract data frame for first worksheet
dict['Data 1']

  First Name Last Name           City Gender
0    Brandon     James          Miami      M
1       Sean   Hawkins         Denver      M
2       Judy       Day    Los Angeles      F
3     Ashley      Ruiz  San Francisco      F
4  Stephanie     Gomez       Portland      F

In [31]:
# extract data frame for second worksheet
dict['Data 2']

  First Name Last Name           City Gender
0     Parker     Power        Raleigh      F
1    Preston  Prescott   Philadelphia      F
2    Ronaldo   Donaldo         Bangor      M
3      Megan   Stiller  San Francisco      M
4     Bustin    Jieber         Austin      F

# Exporting Excel Files

In [41]:
# split baby names data frame by gender
male_baby_names = baby_names[baby_names['Gender'] == 'MALE']
female_baby_names = baby_names[baby_names['Gender'] == 'FEMALE']

# baby_names[male_baby_names]
# baby_names[female_baby_names]

In [39]:
# instantiate excel writer
excel_file = pd.ExcelWriter('data/baby_names_by_gender.xlsx')

In [43]:
# write to excel file
male_baby_names.to_excel(excel_file, sheet_name = 'Male', index = False)
female_baby_names.to_excel(excel_file, sheet_name = 'Female', index = False)
excel_file.save()